{% load static %}
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">مولی شاپ</h1>
                        <p class="text-secondary mb-0">بهترین محصولات موجود در بازار</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">فروشگاه</h4>
                    <a class="btn-link" href="{% url "account:add_address" %}">درباره ما</a>
                    <a class="btn-link" href="">تماس با ما</a>
                    <p class="btn-link">.</p>
                    <p class="btn-link">.</p>
                    <p class="btn-link">.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">حساب</h4>
                    <a href="{% url "account:user_profile" %}" class="btn-link">حساب من</a>
                    <a href="{% url "account:add_address" %}" class="btn-link">اطلاعات حساب</a>
                    <a href="{% url "cart:cart_detail" %}" class="btn-link">سبد خرید</a>
                    <p class="btn-link">.</p>
                    <p class="btn-link">.</p>
                </div>
            </div>
        </div>
    </div>
</div>