{% extends 'base.html' %}
{% load static %}

{% block main %}
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">پروفایل</li>
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-lg-7">
                        <form method="post">
                            {% csrf_token %}
                            <label for="">نام و نام خانوادگی</label>
                            {{ form.fullname }}
                            <label for="">ایمیل</label>
                            {{ form.email }}
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary "
                                    type="submit">ثبت
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}